.dashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

input {
    border: 1px solid #e8e8e1;
    padding: 15px;
    margin-bottom: 5px;
    max-width: initial;
    width: 100%;
}

h2 {
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}


.dashboard button[type="submit"] {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: initial;
}

.dashboard .faq {
    margin-top: 20px;
}

.user-dashboard, .faq-dashboard, .contactus-dashboard {
    width: 100%;
    max-width: 500px;
}

@media (max-width: 768px) {
    .user-dashboard, .faq-dashboard, .contactus-dashboard {
        width: 100%;
        max-width: initial
    }
    
}