@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@keyframes shine {
    100% {
      left: -200%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

  
img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.2
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3, h4, h5, h6, p, span {
    font-weight: 400;
}

p, a {
    font-family: 'Roboto';
    font-weight: 400;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

a:hover {
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: sticky;
    box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.29);
-webkit-box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.29);
-moz-box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.29);
}

.header_logo {
    width: 100%;
    max-width: 100px;
}

.header_logo img {
    width: 100%;
}

.header_links {
    display: flex;
    gap: 30px;
}

.header_links li a {
    text-decoration: none;
    color: #333;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
}

.header_links li {
    list-style: none;
}

.header_links li a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 100%;
    border-bottom: 2px solid #322c29;
    transition: right .5s;
}

.header_links a:hover::after {
    right: 0;
}

.header_links li a:hover {
    color: black;
}

.logInButton {

    margin-top: 2px;
}


@media only screen and (max-width: 768px) {
    .header {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: 430px) {
    .header {
        padding: 0px 20px;
    }

    .header_links {
        gap: 10px;
    }

    .header_links li a, .logInButton {
        font-size: 14px;
        text-transform: uppercase;
    }
    
}

footer {
    background-color: #fe9002;
    padding: 40px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    font-family: 'Roboto';
}

.footer_links  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_links li a, .footer_links li a:hover {
    color: white;
    font-family: 'Roboto';
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscribe p {
    color: white;
}

.subscribe input {
    border: none;
    background-color: inherit;
    border-bottom: 2px solid white;
    height: 40px;
    color: white;
    padding: 0px 10px;
}

.subscribe input:focus-visible {
    outline: none;
    border: 2px solid white;
}

.subscribe input::placeholder {
    color: white;
    text-transform: uppercase;
}

.callus {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

@media only screen and (max-width: 430px) {
    footer {
        flex-direction: column;
        padding: 20px;
    }

    footer .subscribe {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}


.login {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 700px;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.login h1 {
    font-size: 24px;
    color: black;
    margin-bottom: 25px;
}

.login label {
    margin-bottom: 5px;
    margin-top: 25px;
    color: #322c29;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.login input {
    border: 1px solid #e8e8e1;
    padding: 15px;
}

.login button {
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 1.42;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3em;
    display: inline-block;
    padding: 11px 20px;
    margin: 0;
    width: auto;
    min-width: 90px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0;
    color: #fff;
    background: #293c70;
    position: relative;
    overflow: hidden;
    transition: background .2s ease 0s;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 15px;
}

.login .create_account {
    text-align: center;
}

.login button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    transform: skew(-20deg);
    background-image: linear-gradient(to right,transparent,rgba(255,255,255,.25),transparent);
}

.login button:hover::after {
    animation: shine 1s cubic-bezier(.01,.56,1,1);
}